@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    color: #f8f8f2;
    background-color: #282a36;
    font-size: 14px;
}

a {
    color: #9bb3ff;
    text-decoration: none;
}

a:visited {
    color: #9bb3ff;
}

h1, h2, h3, h4 {
    color: #e0caff;
}

h3 {
    margin-top: 1.5em;
}

body {
    max-width: 800px;
    margin: 1em auto;
    padding: 1em;
}

blockquote {
  background: #3e4152;
  padding: 0.5em 2em;
}

.cover-image {
    max-height: 250px;
    object-fit: cover;
}

img {
    object-fit: scale-down;
    width: 100%;
    max-height: 250px;
    margin-bottom: 1em;
}
