
<footer>
    <div>
        ----------------------------------------
    </div>
    <div>
        <a href="https://webring.xxiivv.com/#198" target="_blank" rel="noopener">
            <img src="https://webring.xxiivv.com/icon.black.svg" alt="XXIIVV webring">
            webring -
        </a>
        
        <a href="https://dzygaspaw.com/support/">
        support Ukraine -
        </a>
        
        <!-- <a href="gemini://mayaks.eu">
        gemini version -
        </a> -->
        
        <a href="/atom.xml">
            rss feed
        </a>
    </div>
</footer>