
#glyphs {
    margin-top: 15px;
    display: inline-block;
}

svg line, svg path {
    opacity: 0.6;
}

svg line:hover, svg path:hover {
    opacity: 1;
}

#glyphs svg {
    margin-right: 5px;
}

#glyphs svg[selected="true"] {
    border: 1px solid #c966c1;
}

svg[onlylines="true"] path, svg[onlylines="true"] line, svg[onlylines="true"] circle {
    opacity: 0;
}

svg[onlylines="true"] path[selected="true"], svg[onlylines="true"] line[selected="true"] {
    opacity: 1;
    stroke: #f55;
}

svg path[selected="true"], svg line[selected="true"] {
    opacity: 1;
    stroke: #f55;
}