@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    color: #282a36;
    background-color: #f8f8f2;
    font-size: 14px;
}

a {
    color: #003dff;
    text-decoration: none;
}

a:visited {
    color: #003dff;
}

h1, h2, h3, h4 {
    color: #ac71ff;
}

h3 {
    margin-top: 1.5em;
}

body {
    max-width: 800px;
    padding: 1em;
    margin: 1em auto;
}

blockquote {
  background: #ffffff;
  padding: 0.5em 2em;
}

.cover-image {
    max-height: 250px;
    object-fit: cover;
}

img {
    object-fit: contain;
    width: 100%;
    margin-bottom: 1em;
    height: 300px;
}
